/* Base CSS */

:focus,
button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #131317;
    text-transform: inherit;
}

a:hover,
a :focus {
    color: #373d46;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    line-height: 46px;
    color: #1e2528;
    font-weight: 700;
}

body {
    color: #131317;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}


/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999999999999;
    border-radius: 50%;
    background: #13171d;
}


.back-to-top i {
    color: #fff;
    position: relative;
    top: 3px;
}


/*Proloader START CSS*/

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.loader_34 {
    /* Preloader */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader_34 .ytp-spinner {
    /* Spinner Container */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-right {
    /* Position inside Container*/
    left: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #30383B #30383B transparent;
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    border: none;
    border-radius: 0;
    padding: 18px 30px 22px;
    transition: 0.4s;
    position: relative;
}

.btn.v1:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
    border: 2px solid #9E9E9F;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.btn.v1:after {
    position: absolute;
    top: -8px;
    left: 8px;
    content: "";
    background: transparent;
    border: 2px solid #9E9E9F;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.btn.v1:hover:before{
    top: -8px;
    left: 8px;
}
.btn.v1:hover:after{
    top:0;
    left: 0;
}

.btn.v2 {
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    border: none;
    border-radius: 0;
    padding: 16px 65px 24px;
    transition: 0.4s;
    position: relative;
}

.btn.v2:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
    border: 2px solid #9E9E9F;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.btn.v2:after {
    position: absolute;
    top: -8px;
    left: 8px;
    content: "";
    background: transparent;
    border: 2px solid #9E9E9F;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.btn.v2:hover:before{
    top: -8px;
    left: 8px;
}
.btn.v2:hover:after{
    top:0;
    left: 0;
}
.btn.v3 {
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    border: none;
    border-radius: 0;
    padding: 20px 65px 22px;
    transition: 0.4s;
    position: relative;
    color: #fff;
}

.btn.v3:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.btn.v3:after {
    position: absolute;
    top: -8px;
    left: 8px;
    content: "";
    background: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.btn.v3:hover:before{
    top: -8px;
    left: 8px;
}
.btn.v3:hover:after{
    top:0;
    left: 0;
}
.btn.v4 {
    background: transparent;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 28px;
    border: 3px solid #fff;
    border-radius: 0;
    padding: 20px 100px 20px;
    transition: 0.4s;
    position: relative;
    color: #fff;
}

.btn.v4:hover {
    background: #fff;
    color: #333;
    border-color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay.v1 {
    opacity: 0.4;
}

.overlay.v2 {
    opacity: 0.5;
}

.overlay.v3 {
    opacity: 0.6;
}

.br_one {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.br_one.v1 {
    top: 30px;
    left: -20px;
}

.br_one.v2 {
    top: 30px;
    right: -20px;
}

.br_one.v3 {
    top: 25px;
    left: -20px;
}

.br_one:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
}


.br_one:after {
    position: absolute;
    top: -6px;
    left: 6px;
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
}

.br_one.v1:before {
    border: 2px solid #fff;

}

.br_one.v1:after {
    border: 2px solid #fff;

}

.br_one.v2:before {
    border: 2px solid #fff;
}

.br_one.v2:after {
    border: 2px solid #fff;
}


.br_one.v3:before {
    border: 2px solid #6C6C6C;
}

.br_one.v3:after {
    border: 2px solid #6C6C6C;
}

.text_wh {
    color: #fff;
}

.text_gl {
    color: #F07C05;
}

.text_bl {
    color: #131317;
}

.text_ph {
    color: #A30618;
}

.bg_gl {
    background-color: #F07C05;
}

.bg_bl {
    background-color: #131317;
}

/*--------------------------------
            Header CSS
---------------------------------*/

/* Header bar area Start */

.header-bar-area {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 48px 0 15px;
    background: transparent;

}

.header-bar-area.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 20px 0 15px;
}

.header-bar-area.sticky.v1 .site-navbar .site-navigation .site-menu li>a {
    color: #131317;

}

.header-bar-area.sticky.v1 .logo h1 a {
    color: #131317;
}

.header-bar-area.sticky .mobile-bar i {
    color: #131317;
}

.header-bar-area.sticky .btn.v3 {
    color: #131317;
}

.header-bar-area.sticky .btn.v3:before,
.header-bar-area.sticky .btn.v3:after {
    border-color: #9E9E9F
}

.header-bar-area.sticky .site-navbar .site-navigation .site-menu li>a:after {
    background: #333;
}

/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.logo h1 {
    line-height: 20px;
    margin: 0;
}

.logo h1 a {
    display: inline-block;
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
    margin: 0;
}

.logo img {
    max-width: 90%;
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header_btn {
    margin-left: 100px;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-menu>li {
    position: relative;
}



.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 20px;
}

.site-navbar .site-navigation .site-menu>li:first-child {
    padding-left: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu li>a {
    position: relative;
    font-size: 26px;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
}

.header-bar-area.v1 .site-navbar .site-navigation .site-menu li>a {
    color: #fff;

}

.site-navbar .site-navigation .site-menu li>a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    width: 0;
    height: 3px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.site-navbar .site-navigation .site-menu li>a.active:after,
.site-navbar .site-navigation .site-menu li>a:hover:after {
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.site-mobile-menu {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
}

.site-mobile-menu-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.offcanvas-menu .site-mobile-menu {
    transform: translateX(0%);
}

.mobile-bar span {
    font-size: 28px;
    border-radius: 4px;
}


.site-mobile-menu-close.js-menu-toggle span {
    color: #000;
    margin-right: 15px;
    font-size: 25px !important;
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    position: relative;
    top: -5px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
}


.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll !important;
    position: relative;
    padding: 20px 30px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 15px 0;
    display: block;
    position: relative;
    color: #212529;
    font-weight: 500;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #28a745;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 100%;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    right: -50px;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    /*! background: #f8f9fa; */
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 15px;
    z-index: 20;
    font-family: "Ionicons";
    content: "\f3d0";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
    font-size: 18px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.site-mobile-menu-body .header_btn {
    order: 2;
    margin: 50px 0 0 0;
}

.site-mobile-menu-body .header_btn .btn.v3 {
    color: #333;
}

.site-mobile-menu-body .header_btn .btn.v3:before,
.site-mobile-menu-body .header_btn .btn.v3:after {
    border-color: #9E9E9F;
}

/*========================================
            Hero section CSS
=========================================*/
.hero_wrap {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 100vh;
    position: relative;
    z-index: 9;
}

.hero_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;

}

.hero_text h2 {
    font-size: 90px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero_wrap.v1 .hero_text h2,
.hero_wrap.v1 .hero_text p {
    color: #fff;
}

.hero_text p {
    color: #fff;
    padding: 0 50px;
}

/*========================================
            About section CSS
=========================================*/
.about_wrap {
    padding: 100px 0 120px;
}

.about_img {
    position: relative;
    left: 20px;
}

.about_img img {
    width: 100%;
}

.about_text h2 {
    margin-bottom: 25px;
}

.about_text p {
    margin-bottom: 20px;
}

.about_text a.btn.v2 {
    margin-top: 35px;
}

/*========================================
            Feature section CSS
=========================================*/
.feature_wrap {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 800px;
    position: relative;
    z-index: 9;
}

.feature_wrap .container {
    position: relative;
    height: 100%;
}

.feature_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;

}

.feature_text {
    background: #fff;
    position: relative;
    padding: 45px 50px 50px;
    right: 22px;

}

.feature_text h2.title {
    line-height: 1.2;
    margin-bottom: 20px;
}

.feature_text p {
    margin-bottom: 45px;
}

/*========================================
            Offer section CSS
=========================================*/

.offer_text {
    text-align: center;
    margin-bottom: 100px;
}

.offer_wrap.v1 {
    padding: 80px 0 90px;
}

.offer_text h2 {
    margin-bottom: 30px;
}

.offer_text p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;

}

.food_cat {
    display: block;
    text-align: center;
    border: 3px solid #333;
    padding: 40px 15px;
    background: transparent;
    transition: 0.4s;
    min-height: 230px;
}

.food_cat img {
    display: block;
    max-width: 80px;
    margin: 0 auto;
    filter: brightness(1) invert(0);
}

.food_cat span {
    display: block;
    font-size: 26px;
    line-height: 28px;
    margin: 30px 0 0;
    font-weight: 500;
}

.offer_wrap.v1 .food_cat span {
    color: #161618;
    
}
.offer_wrap.v1 .food_cat:hover {
    background: #333;
}

.food_cat:hover img {
    filter: brightness(0) invert(1);
}

.offer_wrap.v1 .food_cat:hover span {
    color: #fff;
}

/*========================================
            Call to Action  CSS
=========================================*/
.cta_wrap {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    background-color: #ddd;
    position: relative;
    z-index: 9;
}

.cta_info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
}

.cta_info_wrap {
    padding: 38px 55px 70px 42px;
    background: #fff;
    position: relative;
    left: 20px;
}

.cta_info {
    margin-bottom: 30px;
}

.cta_info h4 {
    line-height: 1.2;
    margin-bottom: 6px;

}

.cta_info span,
.cta_info a {
    display: block;
    font-size: 20px;
}

.cta_info_wrap p {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 30px 0;
}

/*========================================
            Footer CSS
=========================================*/
.footer_wrap {
    padding: 50px 0;
    text-align: center;
}

.footer_wrap.v1 {
    background-color: #161618;

}
.footer_menu {
    margin-bottom: 20px;
}

.footer_menu ul li {
    display: inline-block;
    padding: 0 20px;
}

.footer_menu ul li a {
    font-size: 22px;
    line-height: 24px;
    display: inline-block;
    text-transform: uppercase;
}

.footer_menu ul li a {
    font-weight: 400;
    position: relative;
    padding: 0 0 8px 0;
}

.footer_wrap.v1 .footer_menu ul li a {
    color: #fff;
}

.footer_menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 3px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.footer_wrap.v1 .footer_menu ul li a:after {
    background: #fff;
}

.footer_menu ul li a:hover:after {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.copyright {
    margin: 30px 0;
}

.copyright p {
    font-size: 20px;
    color: #999898;
    line-height: 22px;
}

.social_profile ul li {
    display: inline-block;
    padding: 0 12px;
}

.social_profile ul li a i {
    font-size: 34px;
    line-height: 1;
    transition: 0.3s;
}

.footer_wrap.v1 .social_profile ul li a i {
    color: #fff;
}

.social_profile ul li a:hover i {
    opacity: 0.8;
}

/*========================================
            Menu page CSS
=========================================*/
.breadcrumb_wrap {
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 100vh;
    z-index: 9;
}

.breadcrumb_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.breadcrumb_text h3 {
    color: #fff;
    line-height: 1.2;
    font-size: 90px;
    margin: 0;
    text-transform: capitalize;
}

/*-----------Menu Item CSS----------*/
.item_wrap {
    padding: 55px 0 180px;
    position: relative;
}

.abs_img_1 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
}

.item_title h3.title {
    margin-bottom: 30px;
}

.item_box_wrap {
    background: #fff;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    padding: 100px;
    margin: 140px 0 0;
}

.item_header.v1 {
    background: #000;
    color: #fff;
    padding: 24px;
    text-align: center;
}

.food_item.popular .item_header {
    margin: 0 0 60px 0;
}

.food_item.regular .item_header {
    margin: 0 0 100px 0;
}

.food_item.test {
    padding-top: 50px;
}

.item_header.v1 p {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
}

.item_header.v2 {
    border-bottom: 5px solid #000;
    text-align: center;
    padding: 0 0 50px 0;
    margin: 0 0 70px 0;
}

.item_header.v2 p {
    font-size: 55px;
    font-weight: 700;
    font-family: "Nunito", Sans-serif;
    text-transform: uppercase;
}

.item_info_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 80px 0;
}

.item_img {
    margin-right: 30px;
}

.item_img img {
    min-width: 100px;
}

.item_name {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted #000;
    padding: 0 0 35px 0;
    margin: 0 0 35px 0;
}

.item_desc {
    width: 100%;
}

.item_name h4 {
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.item_details p {
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #161618;
    font-weight: 400;
}

/*========================================
            About page CSS
=========================================*/
.about_wrap.v1.style1 {
    position: relative;
    padding: 100px 0 25px;
}

.abs_img_2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 50%;
}

.about_wrap.v1.style1 .about_text {
    padding-right: 40px;
}

/*---------Promo video section----------*/
.promo_video_wrap {
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 9;
}

.video_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play_btn {
    display: block;
}

.hvr-ripple-out {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}

.hvr-ripple-out:before {
    border-radius: 50%;
    content: '';
    position: absolute;
    border: #9A9491 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    transition: all 0.9s;
    animation-iteration-count: infinite;
    border: #9A9491 solid 10px;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;

}


@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -25px;
        right: -25px;
        bottom: -25px;
        left: -25px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -25px;
        right: -25px;
        bottom: -25px;
        left: -25px;
        opacity: 0;
    }
}

/*--------------Simple Section CSS------------------*/
.simple_wrap {
    padding: 150px 0 100px;
}

/* .simple_text {
    padding:
} */

.simple_text h2 {
    margin-bottom: 40px;
}

.simple_img {
    position: relative;
    left: 8px;
}

.simple_img img {
    width: 100%;
}

/*========================================
            Contact page CSS
=========================================*/
.contact_info_wrap {
    padding: 100px 0 150px;
}

.contact_title {
    text-align: center;
    margin-bottom: 80px;
}

.contact_title h2.title {
    text-transform: capitalize;
}

.contact_info_box_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact_info_box {
    text-align: center;
    border: 5px solid #333;
    width: 24%;
    padding: 65px 20px 40px;
    min-height: 260px;
}

.contact_info_box img {
    display: block;
    margin: 0 auto;
    max-width: 56px;
}

.contact_info_box a,
.contact_info_box p {
    display: block;
    font-size: 26px;
    line-height: 1.2;
    margin: 40px 0 0 0;
}

.contact_form_wrap {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    height: 100vh;
    position: relative;
}

.abs_img_3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    height: 100vh;
}

.contact_form_title {
    text-align: center;
    margin: 0 0 60px 0;
}

.contact_form_title h2 {
    color: #fff;
}

.contact_form .form-group {
    margin-bottom: 30px;
}

.contact_form .form-group input {
    width: 100%;
    height: 70px;
    padding: 10px 28px;
    font-size: 22px;
    color: #161618;
}

.contact_form .form-group textarea {
    width: 100%;
    height: 200px;
    padding: 20px 28px;
    font-size: 24px;
    color: #161618;
}

.contact_form .form-group input::placeholder,
.contact_form .form-group textarea::placeholder {
    opacity: 1;
    color: #161618;
    font-weight: 600;
}

.address_select .address_dropdown {
    width: 100%;
    display: block;
    height: 70px;
    font-size: 22px;
    padding: 15px 22px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    margin-bottom: 30px;

}

.nice-select::after {
    border-bottom: none;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 47%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 18px solid #3C4FB0;
}

.nice-select.open::after {
    transform: rotate(0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/*========================================
            Location page CSS
=========================================*/
.google_map iframe {
    width: 100%;
    height: 100vh;
    margin-bottom: -8px;
}

.map_title {
    text-align: center;
}

.map_title p {
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
}