@media only screen and (min-width: 1920px) {

    .cta_wrap,
    .cta_info_box {
        height: 900px;
    }

    .container {
        max-width: 1720px;
    }

    p {
        font-size: 24px;
        line-height: 38px;
    }

    .navbar-brand {
        min-width: 380px;
    }

    .navbar-brand h1 {
        font-size: 60px;
    }

    .btn.v1,
    .btn.v2,
    .btn.v3 {
        font-size: 20px;
    }

    .btn.v3 {
        padding: 20px 65px 26px;
    }

    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {

        height: 780px;
    }

    .hero_text h2 {
        font-size: 126px;
    }

    .title {
        font-size: 96px;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 46px;
        line-height: 58px;
        text-transform: uppercase;
        font-weight: 500;
        color: #e3350a;
        margin-bottom: 35px;
    }

    .about_wrap.v3.style1 {
        padding: 130px 0;
    }

    .about_text {
        padding-right: 250px;
    }

    .about_text.style1 {
        padding-right: 150px;
    }

    .breadcrumb_text h3 {
        font-size: 120px;
    }

    .promo_title h2 {
        font-size: 100px;
    }

    .item_title_img.v1 h3 {
        font-size: 100px;
    }

    .item_title_img.v2 h3 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1600px) and (max-width:1919px) {
    .container {
        max-width: 1510px;
    }

    .cta_wrap,
    .cta_info_box {
        height: 840px;
    }

    p {
        font-size: 22px;
        line-height: 34px;

    }

    .navbar-brand {
        min-width: 340px;
    }

    .navbar-brand h1 {
        font-size: 48px;
    }

    .nav-item a {
        font-size: 30px;
    }

    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {

        height: 680px;
    }


    .hero_text h2 {
        font-size: 110px;
    }

    .title {
        font-size: 86px;
        line-height: 1.2;
    }

    .about_wrap {
        padding: 80px 0 80px;
    }

    .about_wrap.v3.style1 {
        padding: 100px 0;
    }

    .about_text {
        padding-right: 120px;
    }

    .contact_info_box {
        width: 28%;
    }

    .subtitle {
        font-size: 46px;
        line-height: 58px;
    }

    .breadcrumb_text h3 {
        font-size: 100px;
    }

    .promo_title h2 {
        font-size: 80px;
        line-height: 86px !important;
    }

    .item_title_img.v1 h3 {
        font-size: 100px;
    }

    .item_title_img.v2 h3 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1440px) and (max-width:1599px) {
    .container {
        max-width: 1355px;
    }

    .navbar-brand {
        min-width: 300px;
    }

    .navbar-brand h1 {
        font-size: 42px;
    }

    .nav-item a {
        font-size: 26px;
    }

    .btn.v7 {
        font-size: 30px;
        padding: 12px 35px 15px;
    }


    .cta_wrap,
    .cta_info_box {
        height: 780px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
    }


    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {

        height: 580px;
    }

    .hero_text h2 {
        font-size: 90px;
    }

    .title {
        font-size: 76px;
        line-height: 1.2;
    }

    .about_wrap {
        padding: 70px 0 80px;
    }

    .about_wrap.v3.style1 {
        padding: 80px 0;
    }

    .about_text {
        padding-right: 90px;
    }

    .contact_info_box {
        width: 28%;
    }

    .subtitle {
        font-size: 36px;
        line-height: 50px;
    }

    .promo_title h2 {
        font-size: 66px;
        line-height: 78px !important;
    }

    .item_title_img.v1 h3 {
        font-size: 100px;
    }

    .item_title_img.v2 h3 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1439px) {
    .container {
        max-width: 1220px;
    }

    .header-bar-area {
        padding: 10px 0;
    }

    .navbar-brand {
        min-width: 270px;
    }

    .navbar-brand h1 {
        font-size: 36px;
    }

    .nav-item a {
        font-size: 22px;
    }

    .btn.v7 {
        font-size: 23px;
        padding: 10px 29px 10px;
    }

    .cta_wrap,
    .cta_info_box {
        height: 800px;
    }

    p {
        font-size: 16px;
        line-height: 26px;

    }

    .btn.v5,
    .btn.v6 {
        font-size: 24px;
        padding: 14px 45px 14px;
    }

    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {

        height: 550px;
    }

    .hero_text h2 {
        font-size: 80px;
    }

    .title {
        font-size: 66px;
        line-height: 1.2;
    }

    .about_wrap {
        padding: 60px 0 80px;
    }

    .about_wrap.v3.style1 {
        padding: 60px 0;
    }

    .about_text {
        padding-right: 40px;
    }

    .subtitle {
        font-size: 30px;
        line-height: 46px;
    }

    .contact_info_box {
        width: 30%;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 21px;
    }

    .contact_form .form-group {
        margin-bottom: 20px;
    }

    .contact_form .form-group input {
        height: 50px;
        padding: 10px 20px;
        font-size: 17px;
    }

    .contact_form .form-group textarea {
        width: 100%;
        height: 170px;
        padding: 14px 17px;
        font-size: 20px;
    }

    .address_select .address_dropdown {
        height: 50px;
        font-size: 17px;
        padding: 15px 20px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    .nice-select::after {

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #3C4FB0;
    }

    .promo_title h2 {
        font-size: 58px;
        line-height: 70px !important;
    }

    .item_title_img.v1 h3 {
        font-size: 70px;
        border-width: 5px;
    }

    .item_title_img.v2 h3 {
        font-size: 50px;
        border-width: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        padding: 0 40px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .logo h1 a {
        font-size: 26px;
    }

    .navbar-brand {
        max-width: 240px;
        min-width: 240px;
    }

    .navbar-brand h1 {
        font-size: 30px;
    }

    .nav-item {
        padding: 0 17px;
    }

    .nav-item a {
        font-size: 20px;
    }

    .btn.v5,
    .btn.v6 {
        font-size: 22px;
        padding: 12px 30px 12px;
    }

    .btn.v7 {
        font-size: 17px;
        padding: 7px 18px 7px;
    }

    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {
        height: 450px;
    }

    .hero_text {
        width: 100%;
    }

    .hero_text h2 {
        font-size: 54px;
        margin-bottom: 10px;
    }

    .hero_text p {
        padding: 0 200px;
    }

    .about_wrap {
        padding: 70px 0 70px;
    }

    .about_text h2 {
        font-size: 46px;
        line-height: 1;
        margin-bottom: 15px;
    }

    .about_text p {
        margin-bottom: 15px;
        line-height: 22px;
        font-size: 14px;
    }

    .about_text a.btn.v2 {
        margin-top: 15px;
        font-size: 15px;
        padding: 13px 50px 20px;
    }

    .title {
        font-size: 66px;
        line-height: 1.2;
    }

    .subtitle {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 30px;
    }

    .feature_wrap.v3 {
        padding: 20px 0;
    }

    .feature_text {
        padding: 25px 0 30px 0px;
    }

    .feature_text h2.title {
        margin-bottom: 20px;
    }

    .feature_text p {
        margin-bottom: 25px;
    }

    .offer_wrap.v3 {
        padding: 60px 0 70px;
    }

    .food_cat img {
        max-width: 54px;
    }

    .food_cat span {
        font-size: 22px;
    }

    .breadcrumb_wrap {
        height: 80vh;
    }

    .item_box_wrap {
        padding: 60px;
        margin: 60px 0 0;
    }

    .breadcrumb_text h3 {
        font-size: 60px;
    }

    .about_wrap.v3.style1 {
        position: relative;
        padding: 80px 0 55px;
    }

    .cta_wrap.v3 .cta_info h4 {
        font-size: 32px;
    }

    .cta_wrap.v3 .cta_info_wrap p {
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }

    .contact_info_wrap {
        padding: 50px 0 80px;
    }

    .contact_title {
        margin-bottom: 40px;
    }

    .contact_info_box {
        width: 30%;
        min-height: 200px;
        padding: 40px 20px 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 20px;
        margin: 15px 0 0 0;
    }

    .promo_title h2 {
        font-size: 60px;
        line-height: 66px;
        margin-bottom: 60px;
    }

    .item_title_img.v1 h3 {
        font-size: 58px;
        border-width: 4px;
    }

    .item_title_img.v2 h3 {
        font-size: 40px;
        border-width: 4px;
    }

    .item_title_img h3::before {
        left: -25px;
        width: 25px;
    }

    .item_title_img h3::after {
        right: -25px;
        width: 25px;
    }
}


@media only screen and (max-width: 991px) {
    .md-none {
        display: none;
    }

    .site-navbar-wrap {
        padding: 10px 0;
        background-color: #fff;
    }


    .mobile-bar {
        float: right;
        position: relative;
        top: 5px;
    }

    .mobile-bar i {
        font-size: 28px;
        cursor: pointer;
        color: #fff;

    }

    .site-mobile-menu-close i {
        font-size: 34px;
        cursor: pointer;
    }

    .header-bar-area {
        padding: 10px 0;
    }

    .header-bar-area.sticky {
        padding: 10px 0 10px;
    }

    .hero_wrap.v3,
    .breadcrumb_wrap.v3 {
        height: 380px;
    }


    .hero_text {
        width: 100%;
    }

    .hero_text h2 {
        font-size: 52px;
        margin-bottom: 10px;
    }

    .hero_text p {
        padding: 0 130px;
        line-height: 26px;
    }


    .about_wrap {
        padding: 50px 0;
    }

    .cta_wrap,
    .cta_info_box {
        height: 100vh;
    }

    .breadcrumb_text {
        width: 100%;
    }

    .simple_wrap {
        padding: 50px 0 50px;
    }

    .simple_img {
        max-width: 50%;
        margin: 0 auto 45px;
    }

    .simple_text h2 {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .menu_wrapper {
        margin: 0 auto;
    }

    .navbar-nav.mr-auto .nav-item:first-child {
        padding-left: 0;
    }

    .navbar-nav.ml-auto .nav-item:first-child {
        padding-left: 0;
    }

    .navbar-nav.ml-auto .nav-item:last-child {
        padding-right: 0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        max-width: 150px;
        min-width: 150px;
    }

    .navbar-brand h1 {
        font-size: 26px;
    }

    .nav-item {
        padding: 0 10px;
    }

    .nav-item a {
        font-size: 18px;
    }

    .btn.v5,
    .btn.v6 {
        font-size: 20px;
        padding: 14px 40px 14px;
    }

    .btn.v7 {
        font-size: 16px;
        padding: 8px 15px 8px;
    }


    .about_img {
        margin-bottom: 50px;
    }

    .about_wrap.v3.style1 .about_text {
        text-align: left;
    }

    .about_text h2 {
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about_wrap.v3.style1 .about_text h2 {
        font-size: 38px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .subtitle {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
    }


    .about_text p {
        margin-bottom: 14px;
        line-height: 22px;
        font-size: 15px;
    }

    .feature_wrap.v3 {
        padding: 20px 0px;
    }

    .feature_text {
        padding: 25px 0 30px 0px;
    }

    .feature_text h2.title {
        margin-bottom: 10px;
        font-size: 44px;
    }

    .feature_text p {
        margin-bottom: 15px;
    }

    .offer_wrap.v3 {
        padding: 60px 0 40px;
    }

    .offer_text {
        margin-bottom: 60px;
    }

    .offer_wrap.v3 .offer_text h2 {
        font-size: 80px;
        line-height: 63px;
    }

    .food_cat {
        margin-bottom: 30px;
        min-height: 210px;
    }


    .food_cat img {
        max-width: 70px;
    }

    .food_cat span {
        font-size: 22px;
    }

    .cta_wrap.v3 .cta_info h4 {
        font-size: 32px;
    }

    .cta_wrap.v3 .cta_info_wrap p {
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }

    .footer_menu ul li a {
        font-size: 20px;
    }

    .breadcrumb_wrap {
        height: 80vh;
    }

    .breadcrumb_text h3 {
        font-size: 60px;
    }

    .item_box_wrap {
        padding: 60px;
        margin: 60px 0 0;
    }

    .item_subtitle {
        font-size: 48px;
        text-transform: uppercase;
        line-height: 1.2;
        margin: 30px 0 60px;
        text-align: center;
        font-weight: 400;
    }

    .item_title h3.title {
        margin-bottom: 15px;
        font-size: 50px;
    }

    .item_title_img.v1 h3 {
        font-size: 48px;
        border-width: 4px;
    }

    .item_title_img.v2 h3 {
        font-size: 30px;
        border-width: 4px;
    }

    .item_title_img h3::before {
        left: -20px;
        width: 20px;
    }

    .item_title_img h3::after {
        right: -20px;
        width: 20px;
    }

    .abs_img_1 {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 45%;
    }

    .contact_form_wrap,
    .form_wrapper {
        height: 80vh;
    }

    .contact_info_wrap {
        padding: 30px 0 40px;
    }

    .contact_title {
        margin-bottom: 40px;
    }

    .contact_info_box {
        width: 32%;
        min-height: 200px;
        padding: 40px 20px 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 16px;
        margin: 15px 0 0 0;
    }

    .contact_form_title {
        margin: 0 0 30px 0;
    }

    .contact_form_title h2 {
        font-size: 34px;
    }

    .promo_title h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    .promo_video {
        height: 48vh;
    }

    .play_btn {
        max-width: 60%;
        margin: 0 auto;
    }

    .promo_text {
        text-align: center;
        margin: 40px 0 0px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .xs-none {
        display: none;
    }

    .xs-block {
        display: block;
    }



    .page_wrapper {
        overflow-x: hidden !important;
    }

    p {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    .btn.v5,
    .btn.v6 {
        font-size: 18px;
        padding: 9px 24px 9px;
    }

    .header-bar-area.sticky {
        padding: 9px 0 9px;
    }

    .header-bar-area.sticky {
        padding: 7px 0 7px;
    }

    .header-bar-area.v3 .zigzag_bottom::before {
        bottom: -15px;
    }

    .navbar-brand {
        max-width: 165px;
        min-width: 140px;
        margin-left: 10px !important;
    }

    .navbar-brand h1 {
        font-size: 26px;
    }

    .navbar-toggler {
        position: absolute;
        right: -12px;
        top: 7px;
        font-size: 35px;
        padding: 0;
    }

    .navbar-nav.mr-auto {
        margin-top: 35px;
    }

    .nav-item {
        margin-bottom: 10px;
        text-align: center;
    }


    .hero_text h2 {
        font-size: 44px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .hero_text p {
        padding: 0 10px;
        line-height: 22px;
        font-size: 18px !important;
    }

    .about_img {
        margin-bottom: 50px;
    }

    .about_text {
        text-align: center;
    }

    .subtitle {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
    }


    .about_wrap.v3.style1 .about_text {

        padding-right: 0;

    }

    .about_wrap.v3.style1 {
        padding: 35px 0 25px;
    }

    .about_text h2 {
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about_text p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 16px;
    }

    .feature_wrap.v3 {
        padding: 35px 0 20px;
    }

    .feature_text {
        padding: 20px 0 30px 0px;
        text-align: center;
    }

    .feature_text h2.title {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .feature_text p {
        margin-bottom: 25px;
    }


    .offer_wrap.v3 {
        padding: 30px 0 20px;
    }

    .offer_text {
        margin-bottom: 40px;
    }

    .offer_text h2 {
        margin-bottom: 18px;
        font-size: 54px !important;
    }

    .food_cat {
        margin-bottom: 30px;
        min-height: 150px;
        padding: 25px 5px;
    }


    .food_cat img {
        max-width: 55px;
    }

    .food_cat span {
        font-size: 17px;
        margin: 15px 0 0;
    }

    .cta_wrap.v3 .cta_info_wrap {
        padding: 10px 10px 20px 10px;
    }

    .cta_wrap,
    .cta_info_box {
        height: auto;
        padding: 30px 0;
    }

    .cta_info {
        margin-bottom: 20px;
    }

    .cta_wrap.v3 .cta_info h4 {
        font-size: 32px;
    }

    .cta_wrap.v3 .zigzag_top.v1::after {
        right: -15px;
    }

    .cta_wrap.v3 .zigzag_bottom.v1::after {
        left: -15px;
    }

    .cta_info_wrap p {
        font-size: 24px !important;
        line-height: 24px;
        margin: 0 0 24px 0;
    }

    .footer_wrap {
        padding: 35px 0 30px;
    }

    .footer_wrap.bold .footer_menu ul li {
        padding: 0 7px;
    }

    .footer_wrap.bold .footer_menu ul li a {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .copyright {
        margin: 15px 0;
    }

    .copyright p {
        font-size: 13px !important;
    }

    .social_profile ul li a i {
        font-size: 24px;
    }

    .breadcrumb_wrap {
        height: 60vh;
    }

    .breadcrumb_text h3 {
        font-size: 40px;
    }

    .item_wrap {
        padding: 25px 0 60px;
    }

    .item_box_wrap {
        padding: 20px 20px 5px;
        margin: 25px 0 0;
    }

    .item_table {
        margin: 25px 0 40px;
    }

    .item_title_img img {
        max-width: 84%;
    }

    .item_title h3.title {
        margin-bottom: 15px;
        font-size: 40px;
    }

    .item_subtitle {
        font-size: 25px;
        margin: 30px 0 22px;
    }

    .item_img {
        max-width: 82%;
        margin: 0 auto;
    }

    .item_title_img.v1 h3 {
        font-size: 42px;
        border-width: 4px;
        padding: 10px;
        display: block;
        margin: 0 10px;
    }

    .item_title_img.v2 h3 {
        font-size: 30px;
        border-width: 4px;
        padding: 10px;
        display: block;
        margin: 0 10px;
    }

    .item_title_img h3::before {
        left: -20px;
        width: 20px;
    }

    .item_title_img h3::after {
        right: -20px;
        width: 20px;
    }

    .item_name p,
    .item_name span {
        font-size: 23px !important;
    }

    .abs_img_1 {
        display: none;
    }

    .food_item .item_header {
        margin: 0 0 35px 0 !important;
    }

    .food_item.test {
        padding-top: 10px;
    }

    .abs_img_2 {
        display: none;
    }

    .promo_video_wrap {
        height: auto;
    }

    .video_btn {
        max-width: 20%;
    }

    .simple_img {
        max-width: 65%;
        margin: 0 auto 45px;
    }

    .simple_text {
        text-align: center;
    }

    .simple_text h2 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .contact_form_wrap,
    .form_wrapper {
        height: auto;
        padding: 20px 0;
    }

    .contact_info_box_wrap {

        flex-wrap: wrap;
    }

    .contact_info_wrap {
        padding: 30px 0 40px;
    }

    .contact_title {
        margin-bottom: 40px;
    }


    .contact_info_box {
        width: 100%;
        min-height: 100px;
        padding: 25px 15px;
        margin-bottom: 20px;
    }

    .contact_info_box img {
        max-width: 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 18px;
        margin: 15px 0 0 0;
    }

    .contact_form_title {
        margin: 0 0 25px 0;
    }

    .contact_form_title h2 {
        font-size: 36px;
    }

    .contact_form .form-group {
        margin-bottom: 15px;
    }

    .contact_form .form-group input {
        height: 50px;
        padding: 10px 20px;
        font-size: 17px;
    }

    .contact_form .form-group textarea {
        width: 100%;
        height: 170px;
        padding: 14px 17px;
        font-size: 20px;
    }

    .address_select .address_dropdown {
        height: 50px;
        font-size: 17px;
        padding: 15px 20px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .contact_form .btn.v1 {
        font-size: 20px;
        padding: 10px 45px;
    }

    .btn.v4 {
        font-size: 22px;
        padding: 12px 100px 12px;
        display: block;
        width: 100%;
    }


    .google_map iframe {
        height: 50vh;
    }

    .promo_title h2 {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 24px;
    }

    .promo_video {
        height: 35vh;
    }

    .play_btn {
        max-width: 70%;
        margin: 0 auto;
    }

    .promo_text {
        text-align: center;
        margin: 25px 0 0px;
    }

    .promo_text p {
        padding: 0;
    }
}