/* LG Device :992px. */

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1720px;
    }

    p {
        font-size: 24px;
        line-height: 38px;
    }

    .site-navbar .site-navigation .site-menu>li {
        padding: 10px 30px;
    }

    .site-navbar .site-navigation .site-menu li>a {
        font-size: 27px;
    }

    .logo h1 a {
        font-size: 44px;
    }

    .hero_wrap.v4 {
        height: 900px;
    }

    .hero_text h2 {
        font-size: 120px;
        line-height: 126px;
    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 24px;
    }

    .title {
        font-size: 96px;
        line-height: 1.2;
    }

    .about_text h4 {

        font-size: 53px;

    }

    .about_wrap.v4.style1 .about_text h4 {
        font-size: 30px;
    }


    .about_img_wrap {
        margin-top: -5%;
    }

    .feature_text_wrap,
    .feature_wrap {
        height: 800px;
    }

    .feature_text h2.title {
        font-size: 80px;
        font-weight: 500;
    }

    .cta_wrap,
    .cta_info_box {
        height: 1100px;
    }

    .cta_info_box {
        margin-left: 200px;
    }

    .abs_img_6 {
        left: 5%;
        height: 780px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 32px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 24px;


    }

    .cta_info_wrap p {
        font-size: 32px;

    }

    .offer_text p {
        line-height: 34px;
    }

    .promo_title h2 {
        font-size: 68px;
        line-height: 86px;
        margin-bottom: 70px;
    }

    .contact_form_title h2 {
        font-size: 50px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1600px) and (max-width:1919px) {
    .container {
        max-width: 1510px;
    }

    p {
        font-size: 22px;
        line-height: 34px;

    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 20px;
    }

    .site-navbar .site-navigation .site-menu>li {
        padding: 10px 30px;
    }

    .site-navbar .site-navigation .site-menu li>a {
        font-size: 23px;
    }

    .logo h1 a {
        font-size: 38px;
    }

    .hero_wrap.v4,
    .hero_text {
        height: 720px;
    }

    .hero_text h2 {
        font-size: 84px;
        line-height: 90px;
        margin-bottom: 20px;
    }

    .hero_text p {
        margin: 20px 0 40px;
    }

    .title {
        font-size: 80px;
        line-height: 1.2;
    }

    .about_text h4 {
        font-size: 46px;
    }

    .about_img_wrap {
        margin-top: -5%;
    }

    .feature_text_wrap,
    .feature_wrap {
        height: 700px;
    }

    .feature_text h2.title {
        font-size: 70px;
        font-weight: 500;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 900px;
    }

    .cta_info_box {
        margin-left: 160px;
    }

    .abs_img_6 {
        top: 50%;
        left: 5%;
        height: 650px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 32px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 24px;


    }

    .cta_info_wrap p {
        font-size: 32px;

    }

    .offer_wrap.v4 {
        padding: 80px 0 30px;
    }



    .contact_info_box {
        width: 28%;
    }

    .promo_title h2 {
        font-size: 54px;
        line-height: 70px;
        margin-bottom: 60px;
    }

    .contact_form_title {
        margin-bottom: 30px;
    }

    .contact_form_title h2 {
        font-size: 40px;
        margin: 40px 0 0px;
    }
}

@media only screen and (min-width: 1440px) and (max-width:1599px) {
    .container {
        max-width: 1355px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 18px;
    }

    .header-bar-area {
        padding: 15px 0;
    }

    .site-navbar .site-navigation .site-menu>li {
        padding: 10px 30px;
    }

    .site-navbar .site-navigation .site-menu li>a {
        font-size: 20px;
    }

    .logo h1 a {
        font-size: 35px;
    }

    .hero_wrap.v4 {
        margin-top: 88px;

    }

    .hero_wrap.v4,
    .hero_text {
        height: 620px;
    }

    .hero_text h2 {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 10px;
    }

    .hero_text p {
        margin: 20px 0 30px;
    }

    .title {
        font-size: 66px;
        line-height: 1.2;
    }

    .about_wrap {
        padding: 100px 0 0px;
    }

    .about_text h4 {
        font-size: 46px;
    }

    .about_img_wrap {
        margin-top: -5%;
    }

    .feature_text_wrap,
    .feature_wrap {
        height: 650px;
    }

    .feature_text h2.title {
        font-size: 60px;
    }

    .offer_wrap.v4 {
        padding: 80px 0 30px;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 850px;
    }

    .cta_info_box {
        margin-left: 160px;
    }

    .abs_img_6 {
        top: 50%;
        left: 5%;
        height: 650px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 28px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 20px;
    }

    .cta_info_wrap p {
        font-size: 28px;

    }



    .contact_info_box {
        width: 28%;
    }

    .promo_title h2 {
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 60px;
    }

    .contact_form_title {
        margin-bottom: 20px;
    }

    .contact_form_title h2 {
        font-size: 30px;
        margin: 40px 0 0px;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1439px) {
    .container {
        max-width: 1220px;
    }

    p {
        font-size: 16px;
        line-height: 26px;

    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 16px;
        padding: 15px 30px 15px;
    }

    .btn.v3 {
        padding: 25px 30px 25px !important;
    }

    .header-bar-area {

        padding: 12px 0 12px;
    }

    .logo h1 a {
        font-size: 31px;
    }

    .site-navbar .site-navigation .site-menu li {
        padding: 0 18px;
    }

    .site-navbar .site-navigation .site-menu li>a {
        font-size: 17px;
    }

    .hero_wrap.v4 {
        margin-top: 70px;
    }

    .hero_wrap.v4,
    .hero_text {
        height: 520px;
    }

    .hero_text h2 {
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 10px;
    }

    .hero_text p {
        margin: 20px 0 30px;
    }


    .title {
        font-size: 60px;
        line-height: 1.2;
    }

    .about_wrap {
        padding: 100px 0 0px;
    }

    .about_text h4 {
        font-size: 40px;
    }

    .about_img_wrap {
        margin-top: -5%;
    }

    .feature_text_wrap,
    .feature_wrap {
        height: 600px;
    }

    .feature_text h2.title {
        font-size: 60px;
    }


    .offer_wrap.v4 {
        padding: 50px 0 0px;
    }

    .food_cat span {
        font-size: 20px;
        margin: 20px 0 0;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 850px;
    }

    .cta_info_box {
        margin-left: 120px;
    }

    .abs_img_6 {
        top: 50%;
        left: 5%;
        height: 570px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 24px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 18px;
    }

    .cta_info_wrap p {
        font-size: 24px;

    }

    .contact_form_title {
        margin-bottom: 20px;
    }

    .contact_form_title h2 {
        font-size: 30px;
        margin: 40px 0 0px;
    }

    .contact_info_box {
        width: 30%;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 21px;
    }

    .contact_form .form-group {
        margin-bottom: 20px;
    }

    .contact_form .form-group input {
        height: 50px;
        padding: 10px 20px;
        font-size: 17px;
    }

    .contact_form .form-group textarea {
        width: 100%;
        height: 170px;
        padding: 14px 17px;
        font-size: 20px;
    }

    .address_select .address_dropdown {
        height: 50px;
        font-size: 17px;
        padding: 15px 20px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    .nice-select::after {

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #3C4FB0;
    }

    .breadcrumb_text h3 {
        font-size: 70px;
    }

}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        padding: 0 40px;
    }

    .item_title h3.title {
        font-size: 60px;
    }

    .item_title p {
        padding-left: 15px;
    }

    .about_wrap.v1.style1 .about_text {
        padding: 50px 50px 94px 0;
    }

    .simple_text {
        padding: 0 40px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-bar-area {
        padding: 25px 0 15px;
    }

    .logo h1 a {
        font-size: 26px;
    }

    .site-navbar .site-navigation .site-menu>li {
        padding: 10px 13px;
    }

    .site-navbar .site-navigation .site-menu li>a {
        font-size: 16px;
    }

    .header_btn {
        margin-left: 40px;
    }

    .header_btn .btn.v3 {
        font-size: 14px;
        padding: 13px 40px 16px;
    }


    .hero_wrap.v4,
    .hero_text {
        height: 520px;
    }

    .hero_text h2 {
        font-size: 48px;
        margin-bottom: 0px;
    }

    .title {
        font-size: 44px;
    }

    .offer_wrap.v4 {
        padding: 80px 0 0px;
    }

    .offer_wrap.v4 .offer_text h2 {
        font-size: 60px !important;
        margin-bottom: 20px;
        line-height: 70px;
    }

    .feature_text_wrap,
    .feature_wrap {
        height: 500px;
    }

    .feature_text h2.title {
        font-size: 50px;
    }

    .feature_text p {
        line-height: 1.4;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 650px;
    }

    .cta_info_box {
        margin-left: 30px;
    }

    .cta_info {
        margin-bottom: 10px;
    }

    .abs_img_6 {
        top: 50%;
        left: 0;
        height: 500px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 18px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 15px;
    }

    .cta_info_wrap p {
        font-size: 18px;

    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 16px;
        padding: 15px 30px 15px;
    }

    .btn.v3 {
        font-size: 16px;

        border: 2px solid transparent;
        padding: 18px 16px 18px;
    }

    .about_wrap {
        padding: 70px 0 30px;
    }

    .about_text h2 {
        font-size: 54px;
    }

    .about_wrap.v4.style1 .about_text h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .about_text h4 {
        font-size: 32px;
    }

    .about_wrap.v4.style1 .about_text h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about_wrap.v4.style1 .about_text h4 {
        font-size: 22px;
    }

    .about_text p {
        margin-bottom: 15px;
        line-height: 22px;
        font-size: 14px;
    }

    .about_text a.btn.v2 {
        margin-top: 15px;
        font-size: 15px;
        padding: 13px 50px 20px;
    }

    .offer_wrap.v1 {
        padding: 60px 0 70px;
    }

    .food_cat {
        height: 200px;
    }

    .food_cat img {
        max-width: 80px;
    }

    .food_cat span {
        font-size: 20px;
        margin-top: 10px;
    }

    .breadcrumb_wrap {
        height: 80vh;
    }

    .item_box_wrap {
        padding: 60px;
        margin: 60px 0 0;
    }

    .item_title h3.title {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .item_header.v1 {
        padding: 18px;
    }

    .item_header.v1 p {
        font-size: 30px;
    }

    .item_name h4 {
        font-size: 20px;
    }

    .breadcrumb_text h3 {
        font-size: 60px;
    }

    .about_wrap.v1.style1 {
        position: relative;
        padding: 80px 0 55px;
    }

    .contact_info_wrap {
        padding: 50px 0 80px;
    }

    .contact_title {
        margin-bottom: 40px;
    }

    .contact_info_box {
        width: 30%;
        min-height: 200px;
        padding: 40px 20px 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 20px;
        margin: 15px 0 0 0;
    }

    .promo_title h2 {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .promo_video {
        height: 600px;
    }

    .promo_text {
        margin: 40px 0 40px;
    }
}


@media only screen and (max-width: 991px) {
    .md-none {
        display: none;
    }

    .site-navbar-wrap {
        padding: 10px 0;
        background-color: #fff;
    }


    .mobile-bar {
        float: right;
        position: relative;
    }

    .mobile-bar i {
        font-size: 28px;
        cursor: pointer;
        color: #000;

    }

    .site-mobile-menu-close i {
        font-size: 34px;
        cursor: pointer;
    }

    .header-bar-area {
        padding: 10px 0;
    }

    .header-bar-area.sticky {
        padding: 10px 0 10px;
    }

    .hero_wrap.v4 {
        margin-top: 60px;
    }


    .hero_wrap {
        height: 600px;
    }


    .hero_text {
        width: 100%;
    }

    .hero_text h2 {
        font-size: 52px;
        margin-bottom: 10px;
    }

    .hero_text p {
        line-height: 26px;
    }

    .food_cat:nth-child(2),
    .food_cat:nth-child(4) {
        transform: translateY(0px);
    }

    .about_wrap {
        padding: 50px 0;
    }

    .about_wrap.v4.style1 {
        padding: 30px 0 25px;
    }

    .about_wrap.v4.style1 .about_img {
        max-width: 70%;
    }

    .cta_wrap,
    .cta_info_box {
        height: 100vh;
    }

    .breadcrumb_text {
        width: 100%;
    }

    .simple_wrap {
        padding: 50px 0 50px;
    }

    .simple_img {
        max-width: 50%;
        margin: 0 auto 45px;
    }

    .simple_text h2 {
        margin-bottom: 10px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo h1 a {
        font-size: 30px;
    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 18px;
    }


    .hero_wrap.v4,
    .hero_text {
        height: 480px;
    }

    .hero_text h2 {
        font-size: 42px;
        margin-bottom: 0px;
    }

    .hero_text p {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .abs_img_7 {
        bottom: 0px;

    }


    .feature_text_wrap,
    .feature_wrap.v4 {
        height: 500px;
    }

    .feature_text h2.title {
        font-size: 50px;
    }

    .feature_text p {
        line-height: 1.4;
    }

    .offer_wrap.v4 {
        padding: 80px 0 30px;
    }

    .offer_wrap.v4 .offer_text {
        text-align: center;
    }

    .offer_wrap.v4 .offer_text h2 {
        font-size: 50px !important;
        margin-bottom: 20px;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 650px;
    }

    .cta_info_box {
        margin-left: 30px;
    }

    .cta_info {
        margin-bottom: 10px;
    }

    .abs_img_6 {
        top: 44%;
        left: 0;
        height: 500px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 18px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 15px;
    }

    .cta_info_wrap p {
        font-size: 18px;

    }

    .btn.v3 {
        font-size: 16px;
        border: 2px solid transparent;
        padding: 18px 16px 18px;
    }

    .about_img {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .about_text {
        text-align: center;
    }

    .about_wrap.v1.style1 .about_text {
        text-align: left;
    }

    .about_text h2 {
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about_wrap.v4.style1 .about_text {
        text-align: center;
    }

    .about_wrap.v4.style1 .about_text h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .about_wrap.v4.style1 .about_text h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .about_text h4 {
        font-size: 28px;
    }

    .about_text p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 16px;
    }

    .offer_wrap.v1 {
        padding: 60px 0 40px;
    }

    .offer_text {
        margin-bottom: 60px;
    }

    .food_cat {
        margin-bottom: 30px;
        min-height: 210px;
    }


    .food_cat img {
        max-width: 70px;
    }

    .food_cat span {
        font-size: 22px;
    }

    .footer_menu ul li a {
        font-size: 20px;
    }

    .breadcrumb_wrap {
        height: 54vh;
    }

    .breadcrumb_text h3 {
        font-size: 60px;
    }

    .item_box_wrap {
        padding: 60px;
        margin: 60px 0 0;
    }

    .item_title h3.title {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .abs_img_1 {
        position: absolute;
        top: 3%;
        right: 0;
        max-width: 45%;
    }

    .item_header.v1 {
        padding: 18px;
    }

    .item_header.v1 p {
        font-size: 30px;
    }

    .item_name h4 {
        font-size: 20px;
    }

    .item_details p {
        font-size: 20px;
    }

    .contact_info_wrap {
        padding: 30px 0 40px;
    }

    .contact_title {
        margin-bottom: 40px;
    }

    .contact_info_box {
        width: 32%;
        min-height: 200px;
        padding: 40px 20px 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 16px;
        margin: 15px 0 0 0;
    }

    .contact_form_title {
        margin: 0 0 30px 0;
    }

    .contact_form_title h2 {
        font-size: 34px;
    }

    .promo_title h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .promo_video {
        height: 500px;
    }

    .promo_text {
        margin: 30px 0 30px;
    }

    .map_title p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .xs-none {
        display: none;
    }

    .xs-block {
        display: block;
    }

    .btn.v1,
    .btn.v2,
    .btn.v3,
    .btn.v4 {
        font-size: 16px;
        padding: 15px 30px 15px;
    }

    .page_wrapper {
        overflow-x: hidden !important;
    }

    p {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .logo h1 a {
        font-size: 21px;
    }

    .hero_wrap.v4,
    .hero_text {
        height: 420px;
    }

    .hero_text h2 {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .hero_text p {
        padding: 0 30px 0 0;
        line-height: 22px;
        font-size: 16px !important;
        margin-bottom: 30px;
    }

    .abs_img_7 {
        bottom: 0px;

    }

    .abs_img_8 {
        top: 0;
    }

    .abs_img_9 {
        bottom: 0;
    }

    .feature_text_wrap,
    .feature_wrap.v4 {
        height: 450px;
        text-align: center;
    }

    .feature_text_wrap:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .feature_text h2.title {
        font-size: 38px;
    }

    .feature_text p {
        line-height: 1.4;
    }

    .cta_wrap.v4,
    .cta_info_box {
        height: 650px;
    }

    .cta_info_box {
        margin-left: 30px;
    }

    .cta_info {
        margin-bottom: 10px;
    }

    .abs_img_6 {
        top: 50%;
        left: 0;
        height: 500px;
    }

    .cta_info_wrap {
        padding: 25px 20px 40px 20px;
        left: 5px;
    }

    .cta_info {
        margin-bottom: 20px;
    }

    .cta_info h4 {
        line-height: 1.2;
        font-size: 18px;

    }

    .cta_info span,
    .cta_info a {
        font-size: 15px;
    }

    .cta_info_wrap p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 20px;

    }

    .btn.v3 {
        font-size: 16px;
        border: 2px solid transparent;
        padding: 18px 16px 18px;
    }

    .about_wrap {
        padding: 50px 0 0;
    }

    .about_img {
        left: 10px;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .about_img_wrap {
        height: 42vh;
    }

    .about_text {
        text-align: center;
    }

    .about_wrap.v1.style1 .about_text {

        padding-right: 0;

    }

    .about_wrap.v1.style1 {
        padding: 35px 0 25px;
    }

    .about_wrap.v4.style1 .about_img {
        max-width: 83%;
        margin-bottom: 16px;
    }

    .about_wrap.v4.style1 .about_text {
        text-align: center;
        padding: 0;
    }

    .about_wrap.v4.style1 .about_text h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .about_wrap.v4.style1 .about_text h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .about_text h2 {
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about_text h4 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about_text p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 16px;
    }

    .feature_text {
        padding: 30px 25px 40px;
        right: 5px;
    }

    .feature_text p {
        line-height: 25px;
    }

    .br_one.v2 {
        right: -8px;
    }

    .offer_wrap.v4 {
        padding: 80px 0 0px;
    }

    .offer_text {
        margin-bottom: 40px;
        text-align: center;
    }

    .offer_wrap.v4 .offer_text h2 {
        font-size: 36px !important;
        margin-bottom: 15px;
    }

    .food_cat {
        margin-bottom: 15px;
        height: 150px;
        padding: 25px 5px;
    }

    .food_cat img {
        max-width: 55px;
    }

    .food_cat span {
        font-size: 17px;
        margin: 15px 0 0;
    }


    .footer_wrap {
        padding: 35px 0 30px;
    }

    .footer_menu ul li {
        padding: 0 6px;
    }

    .footer_menu ul li a {
        font-size: 12px;
        padding-bottom: 3px;
    }

    .copyright {
        margin: 10px 0 20px;
    }

    .copyright p {
        font-size: 13px !important;
    }

    .social_profile ul li a i {
        font-size: 24px;
    }

    .breadcrumb_wrap {
        height: 50vh;
    }

    .breadcrumb_text h3 {
        font-size: 40px;
        line-height: 39px;
    }

    .item_wrap {
        padding: 25px 0 60px;
    }

    .item_box_wrap {
        padding: 20px 20px 5px;
        margin: 25px 0 0;
    }

    .item_title h3.title {
        margin-bottom: 0px;
        font-size: 32px;
    }

    .item_title p {
        font-size: 16px;
        line-height: 26px;
    }

    .item_header.v4 p {
        font-size: 24px !important;
        padding: 0 20px;
    }

    .abs_img_1 {
        display: none;
    }

    .item_info_wrap {
        margin: 0 0 30px 0;
    }

    .food_item .item_header {
        margin: 0 0 20px 0 !important;
    }

    .food_item.test {
        padding-top: 10px;
    }

    .item_header.v1 {
        padding: 12px;
    }

    .item_header.v2 {
        padding: 0 0 20px 0;
        margin: 0 0 70px 0;
    }

    .item_header.v1 p {
        font-size: 20px !important;
    }

    .item_header.v2 p {
        font-size: 20px !important;
    }

    .item_img {
        margin-right: 15px;
    }

    .item_img img {
        min-width: 35px;
        max-width: 50px;
    }

    .item_name {
        padding: 0 0 15px 0;
        margin: 0 0 15px 0;
    }

    .item_name h4 {
        font-size: 14px;
    }

    .item_details p {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .abs_img_2 {
        display: none;
    }



    .video_btn {
        max-width: 20%;
    }

    .promo_title h2 {
        font-size: 23px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .promo_video {
        height: 350px;
    }

    .promo_text {
        margin: 20px 0 20px;
    }

    .promo_text p {
        padding: 0;
    }

    .simple_img {
        max-width: 65%;
        margin: 0 auto 45px;
    }

    .simple_text {
        text-align: center;
    }

    .simple_text h2 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .contact_form_wrap {
        height: auto;
        padding: 20px 0;
    }

    .contact_info_box_wrap {

        flex-wrap: wrap;
    }

    .contact_info_wrap {
        padding: 30px 0 40px;
    }

    .contact_title {
        margin-bottom: 40px;
    }


    .contact_info_box {
        width: 100%;
        min-height: 100px;
        padding: 25px 15px;
        margin-bottom: 20px;
    }

    .contact_info_box img {
        max-width: 40px;
    }

    .contact_info_box a,
    .contact_info_box p {
        font-size: 18px;
        margin: 15px 0 0 0;
    }

    .contact_form_title {
        margin: 0 0 25px 0;
    }

    .contact_form_title h2 {
        font-size: 36px;
    }

    .contact_form .form-group {
        margin-bottom: 15px;
    }

    .contact_form .form-group input {
        height: 50px;
        padding: 10px 20px;
        font-size: 17px;
    }

    .contact_form .form-group textarea {
        width: 100%;
        height: 170px;
        padding: 14px 17px;
        font-size: 20px;
    }

    .address_select .address_dropdown {
        height: 50px;
        font-size: 17px;
        padding: 15px 20px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .nice-select::after {

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 11px solid #3C4FB0;
    }

    .google_map iframe {
        height: 50vh;
    }

    .Submit_btn {

        font-size: 20px;
        border: 2px solid #a30618;
        display: block;
        width: 100%;
        padding: 15px 30px;

    }
}